<h1>Shopping Cart</h1>

<%= render :partial => 'shopping_cart_item', 
:collection => @shopping_cart.shopping_cart_items %>



<table class="table table-default">
	<thead>
		<tr>
			<th><b>SubTotal:</b></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= number_to_currency @shopping_cart.subtotal %></td>
		</tr>
		<tr>
			<td><b>FL Taxes:</b></td>
		</tr>
		<tr>
			<td><%= number_to_currency @shopping_cart.taxes %></td>	
		</tr>
		<tr>
			<td><b>Total:</b></td>
		</tr>
		<tr>
			<td><%= number_to_currency @shopping_cart.total %></td>
		</tr>
	</tbody>
</table>




